.hero {

  height: 100vh;
  position: relative;

  .welcome {

    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);

    display: grid;
    flex-direction: column;
    justify-content: center;

    grid-gap: 7rem;

    &__button-container {
      margin: 0 auto;
    }
  }
}