// SHADOWS
$shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
$shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
$shadow-darker: 0 1rem 2rem rgba(0, 0, 0, 0.3);

$shadow-img: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


// COLORS
$color-white: #fff;
$color-black: #2e303e;
$color-grey: #777;


$color-dom: #4f3558;
$color-accent1: #328284;
$color-accent2:#05a58d;
$color-bg: #e9e7e9;
$color-bg-dark: #909095;


$color-js: #f7df1e;
$color-node: #44883e;
$color-html: #e34f26;
$color-react: #00d8ff;
$color-css: #4285F4;



// FONT-SIZES
$font-xm: .7rem;
$font-s: 1rem;
$font-m: 1.7rem;
$font-l: 2rem;
$font-xl: 2.5rem;

